body{
    background-color: #ef9273;
}
    
    #parent{
    display: flex;
    gap: 8px;
    flex-direction: row;
    justify-content: space-around;
}


.dora{
    height: 100px;
    width: 100px;

}
.dpara{
    font-size:medium;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: justify;
    text-justify: inter-word;

}
.dbutto:hover{
    background-color: #f13ea1;

}
.sbutto:hover{
    background-color: red;

}
.bbutto:hover{
    background-color: brown;

}
.tbutto:hover{
    background-color: gray;

}
#parent{
    display: flex;
    flex-direction: column;
}
@media(min-width: 768px)
{
    #parent{
    display: flex;
    flex-direction: row;
    }

}
@media(min-width: 1020px)
{
    #parent{
        display: flex;
        flex-direction: row;
    }
}